<section>
  <h1>Ryan Prendergast</h1>

  <p>
    Hi! I'm Ryan. I'm currently working on
    <a href="https://zenobiapay.com" target="_blank" rel="noopener noreferrer"
      >Zenobia Pay</a
    >. Our mission is to end the Visa / Mastercard duopoly, and make it 3x
    cheaper to transact online.
  </p>

  <p>
    Some hobbies that I enjoy: I enjoy
    <a
      href="https://www.youtube.com/playlist?list=PL-evJxq7wCJNhu6jh8QCcj_4PiycBDEOW"
      target="_blank"
      rel="noopener noreferrer"
      >filmmaking</a
    >. I've played
    <a
      href="https://www.youtube.com/playlist?list=PL-evJxq7wCJPwhV7P91uooPOauMSX-UbE"
      target="_blank"
      rel="noopener noreferrer"
      >electric guitar and sang</a
    >
    in a couple bands. I like to <a href="/blog">write essays</a>.
  </p>

  <p>
    If you think we should work together, my calendar is open at
    <a
      href="https://calendly.com/rprendergast1121/ryan"
      target="_blank"
      rel="noopener noreferrer"
      >calendly.com/rprendergast1121/ryan</a
    >.
  </p>
</section>
