<header class="px-4 py-8">
  <nav class="flex items-center gap-6">
    <a href="/" class="text-primary hover:underline text-sm lowercase px-2 {{homeActive}}">home</a>
    <a href="/blog" class="text-primary hover:underline text-sm lowercase px-2 {{blogActive}}">blog</a>
    <a href="/guestbook" class="text-primary hover:underline text-sm lowercase px-2 {{guestbookActive}}">guestbook</a>
    <a href="/contact" class="text-primary hover:underline text-sm lowercase px-2 {{contactActive}}">contact</a>
  </nav>
</header>